<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188500239394-oieg4msp959s7tfruqk3s2olofn2kmfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188500239394-oieg4msp959s7tfruqk3s2olofn2kmfi</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ41sET5nCX7LrcF4-3f_QNebfF7OQVso</string>
	<key>GCM_SENDER_ID</key>
	<string>188500239394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseTracker</string>
	<key>PROJECT_ID</key>
	<string>expense-tracker-f6d49</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracker-f6d49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188500239394:ios:ba6c67f6c5df43c367167b</string>
</dict>
</plist>